.header{
    background-image: url(img/index_back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1024px;
    padding-top: 217px;
    &_h1{
        color: #FFF;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 760px;
        margin-bottom: 32px;
    }
    &_p{
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        width: 481px;
        margin-bottom: 44px;
    }
    &_button{
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 30px;
        background: #9C0332;
        width: 234px;
        height: 48px;
        border: 1px;
        transition: all 0.2s;
        &:hover{
            transform: scale(1.05);
        }
    }
}
.header_p_span{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
.section{
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: #000915;
    &_box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;

        &_link_1{
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/Rectangle\ 6.jpg), lightgray 50% / cover no-repeat;
        background-size: cover;
        display: block;
        background-repeat: no-repeat;
        width: 379px;
        height: 300px;
        flex-shrink: 0;
        text-decoration: none;
        border-radius: 19px;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; 
        transition: all 0.5s;
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
        padding: 32px;
        &:hover{
            transform: scale(1.05); 
        }
        }
       
        &_link_2{
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/Rectangle\ 7.jpg), lightgray 50% / cover no-repeat;
        background-size: cover;
        display: block;
        width: 379px;
        height: 300px;
        flex-shrink: 0;
        text-decoration: none;
        border-radius: 19px;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; 
        transition: all 0.5s;
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
        padding: 32px;
        &:hover{
            transform: scale(1.05);  
        }
        }
       
        &_link_3{
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/Rectangle\ 8.jpg), lightgray 50% / cover no-repeat;
        background-size: cover;
        display: block;
        width: 379px;
        height: 300px;
        flex-shrink: 0;
        text-decoration: none;
        border-radius: 19px;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; 
        transition: all 0.5s;
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
        padding: 32px;
        &:hover{
           transform: scale(1.05); 
        }
        }
    }
}