* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-image: url(img/index_back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1024px;
  padding-top: 217px;
}
.header_h1 {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 760px;
  margin-bottom: 32px;
}
.header_p {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  width: 481px;
  margin-bottom: 44px;
}
.header_button {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 30px;
  background: #9C0332;
  width: 234px;
  height: 48px;
  border: 1px;
  transition: all 0.2s;
}
.header_button:hover {
  transform: scale(1.05);
}

.header_p_span {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.section {
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #000915;
}
.section_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
.section_box_link_1 {
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/Rectangle\ 6.jpg), lightgray 50%/cover no-repeat;
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  width: 379px;
  height: 300px;
  flex-shrink: 0;
  text-decoration: none;
  border-radius: 19px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  transition: all 0.5s;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 32px;
}
.section_box_link_1:hover {
  transform: scale(1.05);
}
.section_box_link_2 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/Rectangle\ 7.jpg), lightgray 50%/cover no-repeat;
  background-size: cover;
  display: block;
  width: 379px;
  height: 300px;
  flex-shrink: 0;
  text-decoration: none;
  border-radius: 19px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  transition: all 0.5s;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 32px;
}
.section_box_link_2:hover {
  transform: scale(1.05);
}
.section_box_link_3 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/Rectangle\ 8.jpg), lightgray 50%/cover no-repeat;
  background-size: cover;
  display: block;
  width: 379px;
  height: 300px;
  flex-shrink: 0;
  text-decoration: none;
  border-radius: 19px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  transition: all 0.5s;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 32px;
}
.section_box_link_3:hover {
  transform: scale(1.05);
}

.sectionTwo {
  padding-top: 233px;
  display: flex;
  padding-bottom: 233px;
  background-color: #000915;
  justify-content: space-between;
}
.sectionTwo_box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 32px;
  align-items: flex-start;
}
.sectionTwo_box_h2 {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sectionTwo_box_p {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  width: 594px;
}
.sectionTwo_box_button {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 30px;
  background: #9C0332;
  width: 234px;
  height: 48px;
  border: 1px;
  transition: all 0.2s;
}
.sectionTwo_box_button:hover {
  transform: scale(1.05);
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .header_h1 {
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: auto;
  }
  .header_p {
    color: #FFF;
    text-align: center;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    width: auto;
    margin-bottom: 32px;
  }
  .header_box {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  .header_p_span {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
  .section_box {
    row-gap: 32px;
  }
  .section_box_link_1 {
    width: 343px;
    height: 300px;
  }
  .section_box_link_2 {
    width: 343px;
    height: 300px;
  }
  .section_box_link_3 {
    width: 343px;
    height: 300px;
  }
  .sectionTwo {
    padding-top: 51px;
    padding-bottom: 85px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .sectionTwo_box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
  }
  .sectionTwo_box_h2 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .sectionTwo_box_p {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
    width: auto;
  }
  .sectionTwo_box_button {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 30px;
    background: #9C0332;
    width: 234.063px;
    height: 48.603px;
  }
  .sectionTwo_img_1 {
    width: 344px;
    height: 236px;
    flex-shrink: 0;
  }
}/*# sourceMappingURL=style.css.map */